<%-include("partials/header") %>

<div class="container vh-100">
    <div class="header">
        <h1><%=user.name %></h1>
    </div>
    <ul class="align-items-center chat list-group p-5">
        <% messages.forEach(message => { %>
            <li class="list-group-item w-50 <%= message.to === user.id ? 'bg-success' : 'bg-secondary' %> text-white my-2"><%=message.text  %></li>
        <% }) %>
    </ul>
    <form action="/chat/<%=user.id %>" method="POST" class="form border border-dark">
        <input placeholder="Type a message..." type="text" name="text" class="w-100 form-control">
        <button class="btn btn-primary">SEND</button>
    </form>
</div>

<%-include("partials/footer") %>
